MYSQL_USER=edushield
MYSQL_PASSWORD=changeme_strong_password
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DB=edushield_db
GROQ_API_KEY=your_groq_api_key_here
SECRET_KEY=generate_a_random_32char_secret_here
